<footer class="site-footer">
    <p><strong>Socials:</strong>
        <a href="#">Instagram</a> 
        <a href="#">TikTok</a> 
        <a href="#">Twitter</a>
    </p>
    <p><strong>Thank you for visiting DreamyBlog.</strong></p> 
    <p class="copyright"> &copy 2025 DreamyBlog. All Rights Reserved.</p>
</footer>
