<header class="header">
  <div class="container">
    <div class="logo">
      <img src="/images/logo.png" alt="DreamyBlog Logo">
    </div>
    <div class="hamburger" id="hamburger">&#9776;</div>
    <nav class="navbar" id="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#newsletter">Newsletter</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

